body {
    font-family: 'Aileron', 'Montserrat', sans-serif;
    width: 50%;
    margin: auto;
    padding: 30px 0;
    font-weight: 400;
    color:#444;
    background-color: #f6f2f2;
    /* f6f2f2 */
}
.name-header {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
}
.subheader {
    display: block;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    line-height: 2em;
}
.like-list {
    /* padding-left: 20px; */
    list-style-type: none;
    font-size: 17px;
    list-style: square;
    width: 100%;
}

.like-list li {
    font-size: 14px;
    display: inline-block;
    min-width: 200px;
    margin-bottom: 5px;

    list-style-type: none;
}

a,
a:visited {
    color:blue;
}

h2 {
    padding-top: 30px;
}
