body {
    font-family: 'Aileron', 'Montserrat', sans-serif;
    min-width:340px;
    width: 50%;
    margin: auto;
    padding: 30px 0;
    font-weight: 400;
    color:#444;
    background-color: #f6f2f2;
    /* f6f2f2 */
}

.name-header {
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 0;
}

.subheader {
    display: block;
    font-weight: 400;
    text-align: center;
    padding-bottom: 20px;
    line-height: 2em;
}

.like-list
.dislike-list {
    /* padding-left: 20px; */
    list-style-type: none;
    font-size: 17px;
    list-style: square;
    width: 100%;
}

.like-list li,
.dislike-list li {
    font-size: 14px;
    display: inline-block;
    min-width: 200px;
    margin-bottom: 5px;

    list-style-type: none;
}

a,
a:visited {
    color:blue;
}

h2 {
    padding-top: 20px;
}

.projects,
.software-list {
    display: inline-block;
    line-height: 1.3em;
}

.projects li,
.software-list li {
    float: left; 
    list-style: outside none none; 
    padding-bottom: 10px;
}

.project-name,
.software-name {
    padding-left:0;
}
.project-name {
    width:115px;
    padding-right: 30px;
}
.software-name {
    width:200px;
    padding-right: 50px;
}

.project-name a,
.software-name a {
    text-decoration: none;
    font-weight: bold;
}
.project-details,
.software-details {
    float:right;
}
.project-details {
    width:75%;
}

.software-details {
    width:30%;
}

code {
    font-family: Consolas,"courier new";
    background-color: #d6d2d2;
}

.darkmode-btn {
    text-align: center;
}

.tux {
    width:45%;
    max-width: 200px;
    /* float:right; */
}
.no-facebook {
    /* float:left; */
    width: 45%;
    max-width: 200px;
}