body {
    /*font-family: Georgia, serif; */
    font-family: -apple-system,BlinkMacSystemFont,Inter,Roboto,"Segoe UI",sans-serif;
    font-size: 14px;
    line-height: 160%;

    padding: 0;
    max-width: 500px;
    margin: 10px auto;
    word-wrap: break-word;
}

img {
    max-width: 500px;
}

p {
    text-align: justify;
}

pre, code {
    background-color: #ebf1f5;
    font-size: 15px;
}

a {
    color: #6a6a6a;
}

a:visited {
    color: #222;
}

.frontpage-header {
    text-align: center;
    padding: 0;
    margin: 0;
}

.header-item {
    padding-right: 10px;
}

.header-fp-item {
    padding-left: 10px;
}

h1 {
    font-size: 20px;
}
