body {
    max-width: 40em;
    margin: 1em auto;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
    line-height: 1.4;
    color: #333333;
    font-size: 13pt;
}

.article_list {
    list-style: none;
    padding-left: 0;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

h3, h4 {
    margin: 0;
    padding: 0;
}

img {
    max-width: 40em;
}

pre, code {
    background-color: #ebf1f5;
    font-size: 16px;
}

h1 {
    font-size: 25px;
}

.title {
    font-size: 30px;
}

.pinrow {
    text-align: center;
}
