<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="%STYLEPATH%">

    <title>Cool Sites - %SITENAME%</title>
</head>
<body>

<h1 class="title">Cool Sites</h1>
%HEADER%

<hr>

This page contains a list of my favorite sites.
Links with an onion next to them are only
accessible through Tor.

<h3>Software Projects</h3>
<ul>
    <li><a href="https://cat-v.org">cat-v</a> - Random Contrarian Insurgent Organization</li>
    <li><a href="https://cmus.github.io/">Cmus</a> - Console music player</li>
    <li><a href="https://ffmpeg.org/">FFmpeg</a> - Multimedia Swiss army knife </li>
    <li><a href="https://9fans.github.io/plan9port/">Plan 9 Port</a></li>
    <li><a href="https://youtube-dl.org/">youtube-dl</a> - Download videos from any site</li>
    <li><a href="https://disroot.org">Disroot</a> - Private online services: mail, storage, Searx, and more.</li>
    <li><a href="https://riseup.net/">Riseup</a> - Similar to Disroot. Email, VPN, lists, etc.</li>
    <li><a href="https://newsboat.org">Newsboat</a> - RSS reader</li>
    <li><a href="https://docs.searxng.org/">SearXNG</a> - Private metasearch engine</li>
    <li><a href="http://www.mutt.org/">Mutt</a> - Command line mail client</li>
    <li><a href="https://keepassxc.org/">KeePassXC</a> - Offline password manager</li>
    <li><a href="https://suckless.org">Suckless</a> - Software that sucks less</li>
    <li><a href="https://mpv.io/">mpv</a> - The ultimate video player</li>
    <li><a href="https://mullvad.net/en/">Mullvad VPN</a> - The best VPN</li>
    <li><a href="https://kernel.org/">The Linux Kernel Archives</a></li>
    <li><a href="https://gentoo.org">Gentoo Linux</a> - The best Linux Distribution</li>
    <li><a href="https://openbsd.org">OpenBSD</a> - The most secure operating system</li>
    <li><a href="https://www.torproject.org/">Tor Project</a></li>
    <li><a href="https://noscript.net/">NoScript</a> - Take control of your browser - disable JavaScript</li>
    <li><a href="https://github.com/gorhill/uBlock">uBlock Origin</a> - The king of adblockers</li>
    <li><a href="https://landchad.net/">LandChad.net</a> - How to become an Internet landlord</li>
</ul>

<h3>Blogs</h3>
<ul>
    <li><a href="https://chrisdone.com">Chris Done</a></li>
    <li><a href="https://nullprogram.com">Chris Wellons' Blog</a></li>
    <li><a href="https://rgz.ee">Roman Zolotarev</a></li>
    <li><a href="https://notthebe.ee">Wolfgang's Blog</a></li>
    <li><a href="https://lukesmith.xyz/">Luke Smith's Webpage</a></li>
</ul>

<h3>Forums</h3>
<ul>
    <li><a href="https://slashdot.org/">Slashdot</a></li>
    <li><a href="https://lobste.rs/">Lobsters</a></li>
    <li><a href="https://news.ycombinator.com/">Hacker News</a></li>

</ul>

<h3>Frontends</h3>
<ul>
    <li>
        <a href="tuberyps2pn6dor6h47brof3w2asmauahhk4ei42krugybzzzo55klad.onion">IncogTube</a>
        <img src="/media/onion_white.png">
    </li>

    <li>
        <a href="http://kddit.kallist4mcluuxbjnr5p2asdlmdhaos3pcrvhk3fbzmiiiftwg6zncid.onion/">kddit</a>
        <img src="/media/onion_white.png">
    </li>
</ul>

<h3>Misc</h3>
<ul>
    <li><a href="https://based.cooking">Based Cooking</a></li>
    <li><a href="https://grimgrains.com/site/home.html">GrimGrains</a></li>
    <li><a href="https://archive.org">The Internet Archive</a></li>
    <li><a href="https://colemak.com/">Colemak</a> - Alternative keyboard layout.</li>
    <li><a href="https://tokipona.org">Toki Pona</a> - A language with only 137 words.</li>
</ul>


%FOOTER%
</body>
</html>
