<p>
    <hr>
    <a style="text-decoration: none;" href="https://www.gentoo.org/">
        <img class="gentoo" src="/media/gentoo.svg">
    </a>

    <a style="text-decoration: none;" href="https://git-scm.com/">
        <img class="git" src="/media/git.png">
    </a>

    <a style="text-decoration: none;" href="https://nginx.org/en/">
        <img class="nginx" src="/media/nginx.svg">
    </a>

    <a style="text-decoration: none;" href="https://en.wikipedia.org/wiki/The_C_Programming_Language">
        <img class="c-lang" src="/media/c.png">
    </a>

    <a style="text-decoration: none;" href="https://www.haskell.org/">
        <img class="haskell" src="/media/haskell.svg">
    </a>

    <a style="text-decoration: none;" href="https://neovim.io/">
        <img class="nvim" src="/media/neovim.svg">
    </a>

    <a style="text-decoration: none;" href="https://colemak.com/">
        <img class="colemak" src="/media/colemak.ico">
    </a>

    <a style="text-decoration: none;" href="https://kernel.org/">
        <img class="linux-power" src="/media/linux-power.svg">
    </a>

    <a style="text-decoration: none;" href="https://www.debian.org/">
        <img class="deb-power" src="/media/deb-power.svg">
    </a>
</p>
