<div class="header">
    <span class="header-item"><a href="/">Home</a></span>
    <span class="header-item"><a href="/posts.html">Posts</a></span>
    <span class="header-item"><a href="https://github.com/prismz">GitHub</a></span>
    <span class="header-item"><a href="/contact.html">Contact</a></span>
    <span class="header-item"><a href="/searx">SearXNG</a></span>
    <span class="header-item"><a href="http://frk7uw426h3ga2adwijr7erytrj2jcyuwepvkze4s7ogg7s74hmfofqd.onion/">Onion</a></span>

</div>


