<div class="header">
    <span class="header-item"><a href="/">Home</a></span>
    <span class="header-item"><a href="/posts.html">Posts</a></span>
    <span class="header-item"><a href="https://github.com/prismz">GitHub</a></span>
    <span class="header-item"><a href="/contact.html">Contact</a></span>
    <span class="header-item"><a href="/searx">SearXNG</a></span>
    <span class="header-item"><a href="http://nzgcsdyevhcwndxw2oyrusv4x5pt32t5qtvhtlektrznfdbdvh6qclyd.onion/">Onion</a></span>
    <span class="header-item"><a href="/cool.html">Cool</a></span>
    <span class="header-item"><a href="/paste">Paste</a></span>
</div>


