<!doctype html>
<html>
    <head>
        <title>%SITENAME%</title>
        <!--<meta name="description" content=""-->
        <!--<meta name="keywords" content="html tutorial template">-->
        <link rel="stylesheet" href="%STYLEPATH%" />
    </head>

    <body>
        <h1 style="text-align: center; font-size: 28px">
            Hasan Zahra's Website
        </h1>
        <h1 style="text-align: center">Welcome</h1>
        <div style="text-align: center">%HEADER%</div>

        <p>
            Welcome to my website. Here I have my
            <a href="/contact.html">contact information</a> as well as some
            software projects I have created.
        </p>
    </body>
</html>
