<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="%STYLEPATH%">
    <title>%SITENAME%</title>
</head>
<body>
<h1>Hasan Zahra</h1>
<p><a href="/posts.html">Posts</a> | <a href="https://github.com/prismz">GitHub</a> | <a href="https://twitter.com/hasanzahra1948">Twitter</a></p>

<p>
    Welcome to my personal blog. Articles are written in markdown and converted using lowdown and a static site generator
    written in Haskell viewable <a href="/hsg">here</a>. This site has a small collection of texts hosted <a href="/library">here</a>.
</p>

</body>
</html>
