<!doctype html>
<html>

<head>
    <title>%SITENAME%</title>
    <!--<meta name="description" content=""-->
    <!--<meta name="keywords" content="html tutorial template">-->
    <link rel="stylesheet" href="%STYLEPATH%">
</head>

<body>
    <h1 class="title">Software Projects</h1>
    <div style="text-align: center">%HEADER%</div>

    <p>
    All programs below have very few dependencies
    and simple features. More programs (including my patched versions of
    suckless programs) can be found on my GitHub.
    </p>

    <li style="list-style-type: none">
            <ul><a href="https://github.com/prismz/aurinstall">aurinstall</a>
                    - an AUR written in C helper with only libcurl, git,
                    and makepkg as dependencies.
            </ul>
            <ul><a href="https://github.com/prismz/hashmap">hashmap</a>
                    - hashmap from scratch in C. FNV-1a hash, linked list for
                    collisions. Supports values of any type (void *).
            </ul>
            <ul><a href="https://github.com/prismz/json">json</a>
                    - a JSON library in C with a hashmap implementation (no error
                    checking.)
            </ul>
            <ul><a href="https://github.com/prismz/website">website</a>
                    - source code for this website.
            </ul>
            <ul><a href="https://github.com/prismz/dblocks">dblocks</a>
                    - a status bar program for the suckless dynamic window
                    manager in C. Includes individual update intervals per element.
            </ul>
            <ul><a href="https://github.com/prismz/wordsearch-solver">wordsearch-solver</a>
                    - wordsearch solver with image output in Python. I wrote this a few
                    years ago as a programming exercise. Searches in all
                    directions.
            </ul>
    </li>
</body>
</html>
