:root {
    --bg: rgba(0, 0, 0, 0.945);
    --fg: white;
    --link: rgb(39, 39, 206);
    --link_v: #99a5d3;
    --link_h: #4c7ecf;
    --dark_grey: #3e3e3e83;
}

html {
    font: 16px/1.6em monaco, monospace;
    margin: 1em auto;
    max-width: 40em;
    background-color: var(--bg);
    color: var(--fg);
}

a, a:visited {
    color: var(--link);
}

h2 a, h2 a:visited {
    text-decoration: none;
    color: var(--fg);

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h3 {
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0;
}

footer {
    font-size: 15px;
    color:gray;
}

pre, code {
    background-color: var(--dark_grey);
    font-family: monaco, monospace;
    font-size: 14px;
    overflow-x: auto;
    
}

h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
}

p {
    margin-top: 2px;
}

.alist {
    margin-left: 50px;
}

pre {
    padding: 0.75em;
}

footer a, footer a:visited {
    text-decoration: none;
    color:var(--gray)
}

.section-list {
    display:table-cell;
    background-color: var(--dark_grey); 
    padding-right: 10px;
}

.secl-item {
    padding-left: 25px;
}

.secl-item a {
    text-decoration: none;
}

.secl-header {
    padding-left: 7px;
    width: 10px;
}

.strikethrough {
    text-decoration: line-through;
}