html {
    font: 16px/1.6em monaco, monospace;
    margin: 1em auto;
    max-width: 40em;
}

a, a:visited {
    color:blue;
}

h2 a, h2 a:visited {
    text-decoration: none;
    color: black;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h3 {
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 0;
}

footer {
    font-size: 15px;
    color:gray;
}

pre, code {
    background-color: #e3e3e3;
    font-family: monaco, monospace;
    font-size: 14px;
    overflow-x: auto;
    
}

h4 {
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
}

p {
    margin-top: 2px;
}

pre {
    padding: 0.75em;
}

footer a, footer a:visited {
    text-decoration: none;
    color:gray
}